<div class="container">
  <div class="jumbotron" id="custom_jumbo">
    <div class="row">
      <div class="col-md-12">
        <div class="container" >
          <h2 style="text-align:center;">
            Editing Profile
          </h2>
        </div>
        <hr class="graphcolor">
        <ul class="container details">
          <%= render 'form', profile: @profile %>
        </ul>
      </div>
    </div>
    <!--hr Create a line -->
    <hr class="graphcolor">

    <%= link_to 'Back', profiles_path, class: "btn btn-outline-primary" %>
    <%= link_to 'Show', @profile , class: "btn btn-outline-info" %>

  </div>
</div>

<!--  Update Profile Button-->


