<div class="container">
  <div class="jumbotron" id="custom_jumbo">
    <div class="row">
      <div class="col-md-12">
        <div class="container" >
          <h2 style="text-align:center;">
            Editing Profile
          </h2>
        </div>
        <hr class="graphcolor">
        <ul class="container details">
          <%= render 'form', profile: @profile %>
        </ul>
      </div>
    </div>
    <hr class="graphcolor">

    <div class="form-actions">
      <div style="display: flex; float: left;">
        <%= link_to 'Back', profiles_path, class: "btn btn-dark btn-m" %>
      </div>
      <div style="display: flex; float: left;">
        <%= link_to 'Show', @profile , class: "btn btn-dark btn-m" %>
      </div>
    </div>



  </div>
</div>

<!--  Update Profile Button-->


