<h1 class="text-center mt-4">Create a new article</h1>

<%= render 'form', article: @article %>

<!--Button go back-->
<!--
<button type="button" class="btn btn-outline-primary" style="alignment: left"> -->
<!-- </button> -->
