<footer class="footer">


  <div class="footer-copyright text-center py-3">



  <small>

    ©2021 Copyright <a href="https://openweathermap.org/widgets-constructor">Open weather map</a>

    by <a href="Addlink ">Antonio Penna</a>

  </small>



  </div>



</footer>





