<footer class="footer">


  <div class="footer-copyright text-center py-3">



  <small>

    <div id="openweathermap-widget-11"></div>
    <script src='//openweathermap.org/themes/openweathermap/assets/vendor/owm/js/d3.min.js'></script>
    <script>window.myWidgetParam ? window.myWidgetParam : window.myWidgetParam = [];
    window.myWidgetParam.push({id: 11,cityid: '2964574',appid: 'b8e3c67a47ab91792a2201ee53a799bd',units: 'metric',containerid: 'openweathermap-widget-11',  });
    (function() {var script = document.createElement('script');script.async = true;script.charset = "utf-8";script.src = "//openweathermap.org/themes/openweathermap/assets/vendor/owm/js/weather-widget-generator.js";
        var s = document.getElementsByTagName('script')[0];s.parentNode.insertBefore(script, s);  })();
    </script>

    ©2021 Copyright <a href="https://openweathermap.org/widgets-constructor">Open weather map</a>

    by <a href="Addlink ">Antonio Penna</a>

  </small>



  </div>



</footer>





